[Desktop Entry]
Type=Application
Name=P-touch P700 Labels
Comment=Print labels on the Brother P-touch P700
Icon=ptouch-770-gui
Exec=ptouch-770-gui
Categories=2DGraphics;
